.tagged {
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border: 1px solid #000;
}

.tagged-list {
  margin: 0;
  padding: 0.5em;
  display: inline-block;
}

.tagged-item {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tagged-input {
  margin: 0;
  padding: 0;

  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  border: none;
  background: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tagged-input:hover, .tagged-input:focus {
  border: none;
  background: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tagged-input:focus {
  outline: none;
}
